# Secrets
.env
.env.*
.seed

# Foundry
cache/
out/
artifacts/
broadcast/
.gas-snapshot
lcov.info
snapshots/

# JS
node_modules/

# Yarn
install-state.gz

# Playground
Playground.*

# Claude
.claude/*local*

# Catalogue
test/catalogue/